.vs
*.o
*.obj
*.log
/bin/main
/bin/interpreter
/bin/test_polish
/bin/seq_pair
sa.xcodeproj
src/yal/parser.cpp 
src/yal/parser.hpp 
src/yal/location.hh 
src/yal/position.hh 
src/yal/stack.hh 
src/yal/scanner.cpp
